table {
    border-collapse: collapse;
    border: 1px solid #ddd;
   
}

th {
    background-color: #f2f2f2;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.clrbutton
{
    color: rgb(202, 18, 18);
}